section#city_weather
{
	@include size(100%, 100vh);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    
    @media screen and (max-width: 1200px) {
        @include size(100%, 100%);
    }

    a.nav_days
    {
        @include size(80px, 80px);
        text-align: center;
        text-decoration: none;
        line-height: 70px;
        font-size: 80px;
        color: black;
        @include round-corners(50%);
        @include transition-all();
        
        &:hover
        {
            background-color: rgba(gray, 0.12);
        }
    }
    
    .prev_day
    {
        @media screen and (max-width: 1200px) {
            position: fixed;
            top: 50%;
            left: 0;
            background-color: rgba(gray, 0.5);
            z-index: 10;
        }
    }
    
    .next_day
    {
        @media screen and (max-width: 1200px) {
            position: fixed;
            top: 50%;
            right: 0;
            background-color: rgba(gray, 0.5);
        }
    }
    
	article
	{
        position: relative;
		@include size(90%, 90vh);
		background-color: rgba(black, 0.5);
		color: white;
		padding: 1.5%;
        box-shadow: 0 0 25px 10px black;
        @include transition-all();
        @include animation('shrink 1.5s');
        
        @media screen and (max-width: 1400px) {
            font-size: 15px;
        }
        
        @media screen and (max-width: 1200px) {
            @include size(90%, 100%);
            margin: 3% auto;
        }
        
        a.back_results
        {
            @include size(50px, 50px);
            position: absolute;
            top: -15px;
            right: -15px;
            color: rgba(#ffffff, 0.8);
            font-size: 20px;
            text-align: center;
            text-decoration: none;
            line-height: 50px;
            @include round-corners(50%);
            @include transition-all();

            &:hover
            {
                background-color: rgba(#ffffff, 0.8);
                color: black;
            }
        }
        
        .one_third
        {
            @include size(33.33%, 40%);
        }
        
        .two_third
        {
            @include size(66.66%, 40%);
        }

		div.half
		{
			float: left;
            
            @media screen and (max-width: 1200px) {
                width: 100%;
                float: none;
                margin-bottom: 50px;
            }

			h1.date
			{
                @include size(65%, auto);
                float: right;
				text-align: right;
                margin: 0;
                
                span.today_date
                {
                    font-size: $titles;
                    
                    @media screen and (max-width: 1400px) {
                        font-size: 40px;
                    }
                }
			}
            
            h3.description
            {
                @include size(35%, auto);
                float: right;
                font-size: $sub_titles;
                margin: 0;
                
                @media screen and (max-width: 1400px) {
                    font-size: 20px;
                    margin: 15px 0;
                }
                
                @media screen and (max-height: 750px) {
                    margin: 35px 0 25px;
                }
            }
            
            .city_name
            {
                font-size: $titles;
                
                @media screen and (max-width: 1400px) {
                    font-size: 40px;
                }
            }

			div.two-column
			{
				@include size(100%, auto);
				column-count: 3;
                
                @media screen and (max-width: 650px) {
                    column-count: 1;
                    text-align: center;
                }
                
                div
                {
                    padding: 5px 0;
                    
                    span
                    {
                        font-size: 18px;
                        font-weight: bold;
                    }
                }
			}
		}

		div.whole
		{
			@include size(100%, 60%);
            margin: 0 auto;
			clear: both;
            overflow-y: scroll;
            
            @media screen and (max-width: 1200px) {
                overflow-y: auto;
                text-align: center;
            }
            
            div
            {
                @include size(18%, 230px);
                float: left;
                background-color: rgba(gray, 0.12);
                text-align: center;
                border: 1px solid white;
                margin: 10px;
                cursor: pointer;
                @include transition-all();
                
                @media screen and (max-width: 1250px) {
                    width: 30%;
                }
                
                @media screen and (max-width: 950px) {
                    width: 45%;
                    margin: 1.6%;
                }
                
                @media screen and (max-width: 650px) {
                    width: 100%;
                    margin: 0;
                }
                
                p
                {
                    
                    span
                    {
                        font-weight: bold;
                    }
                }
                
                p.desc
                {
                    font-size: 20px;
                    font-weight: bold;
                }
            }
            
            .selected_hour
            {
                background-color: white !important;
                color: black !important;
            }
		}
        
        @include scrollbars(10px, white, black);
	}
}