<section id="city_weather">
	
	<a ng-href="/{{city.name}}/{{prev}}"
       class="nav_days prev_day">&lt;</a>

	<article>
		<a ng-href="/results/{{search}}"
           class="back_results">
            X
        </a>
        
		<div class="half one_third">
			
			<h1>
				<span class="city_name">{{city.name}}</span>,
				<span>{{city.country}}</span>
			</h1>

			<h3>
				<span>Latitude: </span>
				<span>{{city.coord.lat}}</span>
			</h3>

			<h3>
				<span>Longitude: </span>
				<span>{{city.coord.lon}}</span>
			</h3>

		</div>

		<div class="half two_third">

			<h1 class="date">
                <span class="today_date">
                    {{days[day][time].dt_txt.split(" ")[0]}}
                </span>
                
                <span>
                    {{days[day][time].dt_txt.split(" ")[1]}}
                </span>
            </h1>

			<h3 class="description">
				{{days[day][time].weather[0].description | uppercase}}
			</h3>

			<div class="two-column">
				
				<div>
					<span>
						Temp: 
					</span>
					{{days[day][time].main.temp}}
				</div>

				<div>
					<span>
						Max: 
					</span>
					{{days[day][time].main.temp_max}}
				</div>

				<div>
					<span>
						Min: 
					</span>
					{{days[day][time].main.temp_min}}
				</div>
                
                <div>
					<span>
						Clouds: 
					</span>
					{{days[day][time].clouds.all}}
				</div>

				<div>
					<span>
						Rain: 
					</span>
					{{checkRain(days[day][time].rain)}}
				</div>

				<div>
					<span>
						Humidity: 
					</span>
					{{days[day][time].main.humidity}}
				</div>

				<div>
					<span>
						Wind speed: 
					</span>
					{{days[day][time].wind.speed}}
				</div>
                
                <div>
					<span>
						Sea level: 
					</span>
					{{days[day][time].main.sea_level}}
				</div>
                
                <div>
					<span>
						Pressure: 
					</span>
					{{days[day][time].main.pressure}}
				</div>
			</div>

		</div>

		<div class="whole">
			<h2>Throughout the day</h2>
			<div id="hour_{{days[day].indexOf(hour)}}"
                 
                 ng-repeat="hour in days[day]"
                 
                 ng-click="changeTime(days[day].indexOf(hour), days[day].indexOf(hour))"
                 
                 ng-class="{'selected_hour' : days[day].indexOf(hour) === 0}">
                
                <p class="date">
                    {{hour.dt_txt.split(" ")[1]}}
                </p>

                <p class="desc">
                    {{hour.weather[0].description | uppercase}}
                </p>
                
                <p>
					<span>
						Temp: 
					</span>
					{{hour.main.temp}}
				</p>
                
                <p>
					<span>
						Clouds: 
					</span>
					{{hour.clouds.all}}
				</p>

				<p>
					<span>
						Rain: 
					</span>
					{{checkRain(hour.rain)}}
				</p>
            </div>

		</div>

	</article>

	<a ng-href="/{{city.name}}/{{next}}"
       class="nav_days next_day">&gt;</a>

</section>