@mixin size($width: 100%, $height: 100%)
{
    width: $width;
	height: $height;
}

@mixin round-corners($size: 10px)
{
    -webkit-border-radius: $size;
    -moz-border-radius: $size;
    -o-border-radius: $size;
    -ms-border-radius: $size;
    border-radius: $size;
}

@mixin transition-all($delay: .5s)
{
    -webkit-transition: all $delay; /* Chrome, Safari, Opera */
    -moz-transition: all $delay;
    -o-transition: all $delay;
    -ms-transition: all $delay; /* IE 9 */
    transition: all $delay;
}

@mixin scale($width: 1, $height: 1)
{
    -ms-transform: scale($width, $height); /* IE 9 */
    -webkit-transform: scale($width, $height); /* Safari */
    transform: scale($width, $height); /* Standard syntax */
}

@mixin rotate($deg: 180deg) {
    -ms-transform: rotate($deg); /* IE 9 */
    -webkit-transform: rotate($deg); /* Safari */
    transform: rotate($deg); /* Standard syntax */
}

@mixin scrollbars($size, $foreground-color, $background-color)
{
  ::-webkit-scrollbar {
      width:  $size;
  }

  ::-webkit-scrollbar-thumb {
      background-color: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background-color: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}