@-webkit-keyframes shrink {
  0% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    transform: scale(1, 1);
    /* Standard syntax */ }
  50% {
    -ms-transform: scale(1.01, 1.01);
    /* IE 9 */
    -webkit-transform: scale(1.01, 1.01);
    /* Safari */
    transform: scale(1.01, 1.01);
    /* Standard syntax */ }
  100% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    transform: scale(1, 1);
    /* Standard syntax */ } }

@-moz-keyframes shrink {
  0% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    transform: scale(1, 1);
    /* Standard syntax */ }
  50% {
    -ms-transform: scale(1.01, 1.01);
    /* IE 9 */
    -webkit-transform: scale(1.01, 1.01);
    /* Safari */
    transform: scale(1.01, 1.01);
    /* Standard syntax */ }
  100% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    transform: scale(1, 1);
    /* Standard syntax */ } }

@-ms-keyframes shrink {
  0% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    transform: scale(1, 1);
    /* Standard syntax */ }
  50% {
    -ms-transform: scale(1.01, 1.01);
    /* IE 9 */
    -webkit-transform: scale(1.01, 1.01);
    /* Safari */
    transform: scale(1.01, 1.01);
    /* Standard syntax */ }
  100% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    transform: scale(1, 1);
    /* Standard syntax */ } }

@-o-keyframes shrink {
  0% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    transform: scale(1, 1);
    /* Standard syntax */ }
  50% {
    -ms-transform: scale(1.01, 1.01);
    /* IE 9 */
    -webkit-transform: scale(1.01, 1.01);
    /* Safari */
    transform: scale(1.01, 1.01);
    /* Standard syntax */ }
  100% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    transform: scale(1, 1);
    /* Standard syntax */ } }

@keyframes shrink {
  0% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    transform: scale(1, 1);
    /* Standard syntax */ }
  50% {
    -ms-transform: scale(1.01, 1.01);
    /* IE 9 */
    -webkit-transform: scale(1.01, 1.01);
    /* Safari */
    transform: scale(1.01, 1.01);
    /* Standard syntax */ }
  100% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    transform: scale(1, 1);
    /* Standard syntax */ } }

@-webkit-keyframes reduce {
  0% {
    -ms-transform: scale(1.02, 1.02);
    /* IE 9 */
    -webkit-transform: scale(1.02, 1.02);
    /* Safari */
    transform: scale(1.02, 1.02);
    /* Standard syntax */ }
  100% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    transform: scale(1, 1);
    /* Standard syntax */ } }

@-moz-keyframes reduce {
  0% {
    -ms-transform: scale(1.02, 1.02);
    /* IE 9 */
    -webkit-transform: scale(1.02, 1.02);
    /* Safari */
    transform: scale(1.02, 1.02);
    /* Standard syntax */ }
  100% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    transform: scale(1, 1);
    /* Standard syntax */ } }

@-ms-keyframes reduce {
  0% {
    -ms-transform: scale(1.02, 1.02);
    /* IE 9 */
    -webkit-transform: scale(1.02, 1.02);
    /* Safari */
    transform: scale(1.02, 1.02);
    /* Standard syntax */ }
  100% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    transform: scale(1, 1);
    /* Standard syntax */ } }

@-o-keyframes reduce {
  0% {
    -ms-transform: scale(1.02, 1.02);
    /* IE 9 */
    -webkit-transform: scale(1.02, 1.02);
    /* Safari */
    transform: scale(1.02, 1.02);
    /* Standard syntax */ }
  100% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    transform: scale(1, 1);
    /* Standard syntax */ } }

@keyframes reduce {
  0% {
    -ms-transform: scale(1.02, 1.02);
    /* IE 9 */
    -webkit-transform: scale(1.02, 1.02);
    /* Safari */
    transform: scale(1.02, 1.02);
    /* Standard syntax */ }
  100% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Safari */
    transform: scale(1, 1);
    /* Standard syntax */ } }

* {
  box-sizing: border-box; }

html {
  height: 100%; }
  html body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    padding: 0px;
    margin: 0px;
    background: url(../assets/image.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; }
    html body .search-wrapper {
      position: absolute;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%; }
      html body .search-wrapper .input-holder {
        overflow: hidden;
        height: 70px;
        background: rgba(255, 255, 255, 0);
        border-radius: 6px;
        position: relative;
        width: 70px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      html body .search-wrapper.active .input-holder {
        border-radius: 50px;
        width: 450px;
        background: rgba(0, 0, 0, 0.5);
        -webkit-transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57);
        -moz-transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57);
        transition: all 0.5s cubic-bezier(0, 0.105, 0.035, 1.57); }
        @media screen and (max-width: 600px) {
          html body .search-wrapper.active .input-holder {
            width: 250px; } }
      html body .search-wrapper .input-holder .search-input {
        width: 100%;
        height: 50px;
        padding: 0px 70px 0 20px;
        opacity: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        background: transparent;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: none;
        outline: none;
        font-family: "Open Sans", Arial, Verdana;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: #FFF;
        -webkit-transform: translate(0, 60px);
        -moz-transform: translate(0, 60px);
        transform: translate(0, 60px);
        -webkit-transition: all 0.3s cubic-bezier(0, 0.105, 0.035, 1.57);
        -moz-transition: all 0.3s cubic-bezier(0, 0.105, 0.035, 1.57);
        transition: all 0.3s cubic-bezier(0, 0.105, 0.035, 1.57);
        -webkit-transition-delay: 0.3s;
        -moz-transition-delay: 0.3s;
        transition-delay: 0.3s; }
      html body .search-wrapper.active .input-holder .search-input {
        opacity: 1;
        -webkit-transform: translate(0, 10px);
        -moz-transform: translate(0, 10px);
        transform: translate(0, 10px); }
      html body .search-wrapper .input-holder .search-icon {
        width: 70px;
        height: 70px;
        border: none;
        border-radius: 6px;
        background: #FFF;
        padding: 0px;
        outline: none;
        position: relative;
        z-index: 2;
        float: right;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      html body .search-wrapper.active .input-holder .search-icon {
        width: 50px;
        height: 50px;
        margin: 10px;
        border-radius: 30px; }
      html body .search-wrapper .input-holder .search-icon span {
        width: 22px;
        height: 22px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.4s cubic-bezier(0.65, -0.6, 0.24, 1.65);
        -moz-transition: all 0.4s cubic-bezier(0.65, -0.6, 0.24, 1.65);
        transition: all 0.4s cubic-bezier(0.65, -0.6, 0.24, 1.65); }
      html body .search-wrapper.active .input-holder .search-icon span {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      html body .search-wrapper .input-holder .search-icon span::before, html body .search-wrapper .input-holder .search-icon span::after {
        position: absolute;
        content: ''; }
      html body .search-wrapper .input-holder .search-icon span::before {
        width: 4px;
        height: 11px;
        left: 9px;
        top: 18px;
        border-radius: 2px;
        background: #974BE0; }
      html body .search-wrapper .input-holder .search-icon span::after {
        width: 14px;
        height: 14px;
        left: 0px;
        top: 0px;
        border-radius: 16px;
        border: 4px solid #974BE0; }
      html body .search-wrapper .close {
        position: absolute;
        z-index: 1;
        top: 24px;
        right: 20px;
        width: 25px;
        height: 25px;
        cursor: pointer;
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        transform: rotate(-180deg);
        -webkit-transition: all 0.3s cubic-bezier(0.285, -0.45, 0.935, 0.11);
        -moz-transition: all 0.3s cubic-bezier(0.285, -0.45, 0.935, 0.11);
        transition: all 0.3s cubic-bezier(0.285, -0.45, 0.935, 0.11);
        -webkit-transition-delay: 0.2s;
        -moz-transition-delay: 0.2s;
        transition-delay: 0.2s; }
      html body .search-wrapper.active .close {
        right: -50px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.6s cubic-bezier(0, 0.105, 0.035, 1.57);
        -moz-transition: all 0.6s cubic-bezier(0, 0.105, 0.035, 1.57);
        transition: all 0.6s cubic-bezier(0, 0.105, 0.035, 1.57);
        -webkit-transition-delay: 0.5s;
        -moz-transition-delay: 0.5s;
        transition-delay: 0.5s; }
      html body .search-wrapper .close::before, html body .search-wrapper .close::after {
        position: absolute;
        content: '';
        background: #FFF;
        border-radius: 2px; }
      html body .search-wrapper .close::before {
        width: 5px;
        height: 25px;
        left: 10px;
        top: 0px; }
      html body .search-wrapper .close::after {
        width: 25px;
        height: 5px;
        left: 0px;
        top: 10px; }
      html body .search-wrapper p#msg {
        display: none;
        text-align: center;
        color: white;
        -webkit-transition: all 2s;
        /* Chrome, Safari, Opera */
        -moz-transition: all 2s;
        -o-transition: all 2s;
        -ms-transition: all 2s;
        /* IE 9 */
        transition: all 2s; }
  @media screen and (max-width: 560px) {
    html .search-wrapper.active .input-holder {
      width: 200px; } }

.result-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3A111C;
  text-align: center;
  font-family: "Open Sans", Arial, Verdana;
  font-size: 14px;
  color: #B7B7B7;
  overflow: auto; }
  .result-container .back_search {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 5%;
    top: 5%;
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    text-decoration: none;
    line-height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.5s;
    /* Chrome, Safari, Opera */
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    /* IE 9 */
    transition: all 0.5s; }
    .result-container .back_search:hover {
      background-color: rgba(255, 255, 255, 0.8);
      color: black; }
  .result-container ul {
    width: 80%;
    height: auto;
    padding: 10px 0;
    margin: 100px auto;
    list-style: none;
    overflow: auto;
    -webkit-transition: all 0.5s;
    /* Chrome, Safari, Opera */
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    /* IE 9 */
    transition: all 0.5s;
    -webkit-animation: reduce 1s;
    -moz-animation: reduce 1s;
    -ms-animation: reduce 1s;
    -o-animation: reduce 1s;
    animation: reduce 1s; }
    @media screen and (max-width: 700px) {
      .result-container ul {
        width: 95%; } }
    .result-container ul li {
      width: 30%;
      float: left;
      background-color: rgba(255, 255, 255, 0.8);
      color: black;
      font-size: 20px;
      padding: 15px 20px;
      margin: 10px 1.6%;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -o-border-radius: 25px;
      -ms-border-radius: 25px;
      border-radius: 25px;
      box-shadow: 4px 4px 9px black;
      -webkit-transition: all 0.5s;
      /* Chrome, Safari, Opera */
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      -ms-transition: all 0.5s;
      /* IE 9 */
      transition: all 0.5s;
      cursor: pointer; }
      .result-container ul li:hover {
        -ms-transform: scale(1.05, 1.05);
        /* IE 9 */
        -webkit-transform: scale(1.05, 1.05);
        /* Safari */
        transform: scale(1.05, 1.05);
        /* Standard syntax */ }
      @media screen and (max-width: 1150px) {
        .result-container ul li {
          width: 45%; } }
      @media screen and (max-width: 700px) {
        .result-container ul li {
          width: 95%; } }

section#city_weather {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 1200px) {
    section#city_weather {
      width: 100%;
      height: 100%; } }
  section#city_weather a.nav_days {
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    line-height: 70px;
    font-size: 80px;
    color: black;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.5s;
    /* Chrome, Safari, Opera */
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    /* IE 9 */
    transition: all 0.5s; }
    section#city_weather a.nav_days:hover {
      background-color: rgba(128, 128, 128, 0.12); }
  @media screen and (max-width: 1200px) {
    section#city_weather .prev_day {
      position: fixed;
      top: 50%;
      left: 0;
      background-color: rgba(128, 128, 128, 0.5);
      z-index: 10; } }
  @media screen and (max-width: 1200px) {
    section#city_weather .next_day {
      position: fixed;
      top: 50%;
      right: 0;
      background-color: rgba(128, 128, 128, 0.5); } }
  section#city_weather article {
    position: relative;
    width: 90%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1.5%;
    box-shadow: 0 0 25px 10px black;
    -webkit-transition: all 0.5s;
    /* Chrome, Safari, Opera */
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    /* IE 9 */
    transition: all 0.5s;
    -webkit-animation: shrink 1.5s;
    -moz-animation: shrink 1.5s;
    -ms-animation: shrink 1.5s;
    -o-animation: shrink 1.5s;
    animation: shrink 1.5s; }
    @media screen and (max-width: 1400px) {
      section#city_weather article {
        font-size: 15px; } }
    @media screen and (max-width: 1200px) {
      section#city_weather article {
        width: 90%;
        height: 100%;
        margin: 3% auto; } }
    section#city_weather article a.back_results {
      width: 50px;
      height: 50px;
      position: absolute;
      top: -15px;
      right: -15px;
      color: rgba(255, 255, 255, 0.8);
      font-size: 20px;
      text-align: center;
      text-decoration: none;
      line-height: 50px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: all 0.5s;
      /* Chrome, Safari, Opera */
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      -ms-transition: all 0.5s;
      /* IE 9 */
      transition: all 0.5s; }
      section#city_weather article a.back_results:hover {
        background-color: rgba(255, 255, 255, 0.8);
        color: black; }
    section#city_weather article .one_third {
      width: 33.33%;
      height: 40%; }
    section#city_weather article .two_third {
      width: 66.66%;
      height: 40%; }
    section#city_weather article div.half {
      float: left; }
      @media screen and (max-width: 1200px) {
        section#city_weather article div.half {
          width: 100%;
          float: none;
          margin-bottom: 50px; } }
      section#city_weather article div.half h1.date {
        width: 65%;
        height: auto;
        float: right;
        text-align: right;
        margin: 0; }
        section#city_weather article div.half h1.date span.today_date {
          font-size: 60px; }
          @media screen and (max-width: 1400px) {
            section#city_weather article div.half h1.date span.today_date {
              font-size: 40px; } }
      section#city_weather article div.half h3.description {
        width: 35%;
        height: auto;
        float: right;
        font-size: 30px;
        margin: 0; }
        @media screen and (max-width: 1400px) {
          section#city_weather article div.half h3.description {
            font-size: 20px;
            margin: 15px 0; } }
        @media screen and (max-height: 750px) {
          section#city_weather article div.half h3.description {
            margin: 35px 0 25px; } }
      section#city_weather article div.half .city_name {
        font-size: 60px; }
        @media screen and (max-width: 1400px) {
          section#city_weather article div.half .city_name {
            font-size: 40px; } }
      section#city_weather article div.half div.two-column {
        width: 100%;
        height: auto;
        column-count: 3; }
        @media screen and (max-width: 650px) {
          section#city_weather article div.half div.two-column {
            column-count: 1;
            text-align: center; } }
        section#city_weather article div.half div.two-column div {
          padding: 5px 0; }
          section#city_weather article div.half div.two-column div span {
            font-size: 18px;
            font-weight: bold; }
    section#city_weather article div.whole {
      width: 100%;
      height: 60%;
      margin: 0 auto;
      clear: both;
      overflow-y: scroll; }
      @media screen and (max-width: 1200px) {
        section#city_weather article div.whole {
          overflow-y: auto;
          text-align: center; } }
      section#city_weather article div.whole div {
        width: 18%;
        height: 230px;
        float: left;
        background-color: rgba(128, 128, 128, 0.12);
        text-align: center;
        border: 1px solid white;
        margin: 10px;
        cursor: pointer;
        -webkit-transition: all 0.5s;
        /* Chrome, Safari, Opera */
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -ms-transition: all 0.5s;
        /* IE 9 */
        transition: all 0.5s; }
        @media screen and (max-width: 1250px) {
          section#city_weather article div.whole div {
            width: 30%; } }
        @media screen and (max-width: 950px) {
          section#city_weather article div.whole div {
            width: 45%;
            margin: 1.6%; } }
        @media screen and (max-width: 650px) {
          section#city_weather article div.whole div {
            width: 100%;
            margin: 0; } }
        section#city_weather article div.whole div p span {
          font-weight: bold; }
        section#city_weather article div.whole div p.desc {
          font-size: 20px;
          font-weight: bold; }
      section#city_weather article div.whole .selected_hour {
        background-color: white !important;
        color: black !important; }
    section#city_weather article ::-webkit-scrollbar {
      width: 10px; }
    section#city_weather article ::-webkit-scrollbar-thumb {
      background-color: white; }
    section#city_weather article ::-webkit-scrollbar-track {
      background-color: black; }
    section#city_weather article body {
      scrollbar-face-color: white;
      scrollbar-track-color: black; }
